*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--neutroOscuro);
    font-family: var(--letraPrincipal);
}

:root{
    --primario: #FBB04C;
    --primarioLuces1: #FFC981;
    --primarioLuces2: #FFE9CC;
    --primarioSombra1: #F89F28;
    --primarioSombra2: #E18407;
    --secundario: #AAB1D2;
    --secundarioLuces1: #CCCFDD;
    --secundarioLuces2: #F5F6F8;
    --secundarioSombra1: #7A8BD8;
    --secundarioSombra2: #0C30D8;
    --terciario: #4848B0;
    --neutroOscuro: #575654;
    --neutroClaro: #D9D9D9;
    --LetraLogo: #734E2D;
    --fondoLogo: #FD8A76;

    --letraPrincipal: 'Inder', sans-serif;
    --letraGanador: 'Black Ops One';
}

.grid {
    display: grid;
    grid-template-areas: "header"
                             "main"
                             "fat-footer";

}

/* Header */
header {
    background-color: var(--primarioLuces2);
    height: 40px;
}
.conteiner-header {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.header-login{
    height: 120px;
}
.conteiner-header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    cursor: pointer;
}
.logo-login img{
    width: 100px;
    height: 100px;
}
.logo-login h1{
    font-size: 30px;
    margin-left: 5px ;
    width: 120px;
    margin-top: 52px;
    line-height: 20px;
    color: var(--LetraLogo);
}
.logo-login h1 span{
    font-size: 20px;
    color: var(--LetraLogo);
}
.texto-inicio h3{
    width: 500px;
    text-align: center;
    color: var(--LetraLogo);
    margin-top: 20px;
}


.logo {
    display: flex;
    cursor: pointer;
}
.logo img{
    width: 30px;
    height: 30px;
    margin: 5px 0;
}
.logo h1{
    font-size: 12px;
    margin-left: 0 ;
    width: 60px;
    margin-top: 17px;
    line-height: 8px;
    color: var(--LetraLogo);
}
h1 span{
    font-size: 8px;
    color: var(--LetraLogo);
}
.search-container {
    position: relative;  
} 
.search {
    width: 130px;
    height: 10px;
    padding: 5px;
    border: 1px solid var(--secundarioLuces1);
    background-color: var(--secundarioLuces2);
    border-radius: 5px;
    margin-top: 11px;
}  
.input-with-image {
    width: 100%;
    cursor: pointer;
} 
.input-label {
    position: absolute;
    top: 24px;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
} 
.input-label img {
    width: 18px;
    height: auto;
}
.login-bolsa {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-right: 10px;
    position: relative;
}
.usuario {
    margin-right: 10px;
}
.login-bolsa img{
    height: 23px;
    cursor: pointer;   
}
.comprados{
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 9px;
}
@media only screen and (min-width:768px) {
    header {
        height: 90px;
    }
    .conteiner-header {
        max-width: 1180px;
        height: 90px;
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
    .logo h1{
        font-size: 25px;
        width: 120px;
        margin-top: 48px;
        line-height: 15px;
    }
    h1 span{
        font-size: 20px;
    }
    .search-container { 
        margin-top: 32px;
    } 
    .search {
        width: 400px;
        height: 20px;
        padding: 7px;
    }  
    .input-label {
        top: 30px;
        right: 7px;
        transform: translateY(-50%);
        cursor: pointer;
    } 
    .input-label img {
        width: 25px;
    }
    .login-bolsa {
        width: 100px;
        margin-top: 40px;
    }
    .login-bolsa img{
        height: 36px;
        margin-top: 3px;
    }
    .comprados{
        top: 17px;
        right: 14.5px;
        font-size: 15px;
    }
    
}

/*main*/
main {
    background-color: var(--primario);
    grid-area: main;
}
.conteiner-main{
    position: relative;
    margin: auto 10px;
}
@media only screen and (min-width:768px) {
    .conteiner-main{
        max-width: 1180px;
        margin: 0 auto;
    }
}

/* Menu categorias*/
.conteiner-menu{
    margin-top: 5px;
    display: flex;
}
.menu-hamburguesa{
    display: flex;
    width: 15px;

}
.conteiner-categorias{
    display: none;
    width: 40%;
    border-radius: 5px;
}
.categoria{
    margin-left: 20px;
    max-width: 131px;
    display: flex;
    justify-content: left;
    align-items: center;  
}
.categoria img{
    max-width: 15px;
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#categorias:hover {
    transform: scale(1.2);
}
.categoria h3{
    font-size: 12px;
    padding-bottom: 5px;
}
@media only screen and (min-width:768px) {
    .menu-categorias{
        display: none;
    }
    .conteiner-categorias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        background-color: var(--primario);
        width: 100%;
    }
    .categoria{
        color: var(--neutroOscuro);
        flex-direction: column;
        justify-content: center;
    }
    .categoria img{
        max-width: 40px;
    }
    #categorias:hover {
        transform: scale(1.2);
        
    }
    
}

/*footer*/
footer {
    background-color: var(--primarioSombra2);
}
.conteiner-footer {
    max-width: 80%;
    margin: 20px auto;
    display: block;
    justify-content: space-around;
    text-align: center;
}
.columnas-footer{
    width: 80%;
    margin: 20px auto;
}
footer h3{
    margin-bottom: 12px;
}
footer li{
    margin: 8px 0;
    cursor: pointer;
}
.redes-sociales img{
    width: 25px;
    height: 25px;
    margin: 0px 10px 8px 0;   
}
.mensaje-footer {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 10px auto;
}
@media only screen and (min-width:768px) {
    .conteiner-footer {
        max-width: 1180px;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .columnas-footer{
        width: 280px;
    }
    footer h3{
        margin-bottom: 10px;
    }
    footer li{
        margin: 4px 0;
        cursor: pointer;
    }
    .mensaje-footer {
        text-align: center;
        font-weight: bold;
        margin-bottom: 25px;
    }
}

/*seccion juegos*/

.conteiner-seccion-juegos{
    margin-top: -25px;
    margin-bottom: 10px;
}
.titulo-categorias-cards{
    margin-top: 30px;
    margin-bottom: 10px;
}
.contenedor-cards, .contenedor-carrusel{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.cards-container, .carrusel{
    display: flex;   
    max-width: 400px ;  
    margin: 0 auto 30px auto;
}
.card-completa {
    background-color: var(--secundarioLuces2);
    width: 280px;
    border-radius: 7px;
    margin: 0 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.contenedor-img-card{
    position: relative;
}
.img-card{
    width: 280px;
    height: 270px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.stiker-gratis{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -10px;
    right: -10px;
    transition: transform 0.3s ease; 
}
.stiker-gratis:hover {
    transform: rotate(360deg);
}

@media only screen and (min-width:768px){
    .cards-container, .carrusel{ 
        margin: 0;
        width: 230px;
    }
}

.boton-cards {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    padding: 5px 0;
}
.boton-cards.clickeado {
    background-color: #28a745;
    color: var(--secundarioLuces1); 
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

  
#comentario:hover{
    color: var(--terciario);
    border: var(--terciario);
    background-color: var(--primarioLuces1);
    transform: scale(1);
    cursor: pointer;

  }

.texto-cards{
    margin: 10px;
    height: 65px;
}
.texto-cards h3{
    padding: 5px 0;
}
.nombre-y-puntuacion-cards {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 17px;
}
.puntuacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.puntuacion img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.conteiner-boton-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-cards{
    width: 55%;
    align-items: center;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
@media only screen and (min-width:768px){    
    .conteiner-seccion-juegos{
        margin-bottom: 30px;
        margin-top: 25px;
    }
    .titulo-categorias-cards{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contenedor-cards, .contenedor-carrusel{
        display: flex;
        position: relative;
    }
    .cards-container, .carrusel{
        display: flex; 
        margin: 0;    
    }
    .card-completa {
        background-color: var(--secundarioLuces2);
        width: 220px;
        border-radius: 7px;
        margin: 0 20px 0 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .contenedor-img-card{
        position: relative;
    }
    .img-card{
        width: 220px;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .texto-cards{
        margin: 10px;
        height: 65px;
        color: var(--neutroOscuro);
    }
    .texto-cards h3{
        padding: 5px 0;
    }
    .nombre-y-puntuacion-cards {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        line-height: 17px;
    }
    .puntuacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .puntuacion img {
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }
    .conteiner-boton-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*CARRUSEL*/
.contenedor-carrusel{
    overflow: hidden;
}
.boton-carrusel {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    z-index: 4;
    user-select: none; 
}
#anterior {
    left: 0px;

}
#siguiente {
    right: 10px;
}
.card-completa-carrusel {
    background-color: var(--secundarioLuces2);
    width: 280px;
    margin: 0 35px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1); 
    transition: transform 0.5s ease-in-out; 
}
  
.card-completa-carrusel:nth-child(3) {
    transform: scale(1.1) translateY(-20px)s; 
}
.card-completa-carrusel:nth-child(3) .stiker-gratis:hover {
    transform:  rotate(360deg)  ;
}
.card-completa-carrusel.active {
    transform: scale(1.1) translateY(-20px); 
}
.card-completa-carrusel.active .stiker-gratis {
    transform: translateY(25px) ;
}
.card-completa-carrusel.active .stiker-gratis:hover {
    transform:  rotate(360deg) ; 
}


@media only screen and (min-width:768px){
    .contenedor-carrusel{
        width: 100%;
    }
    .card-completa-carrusel{
        margin: 0 20px 0 0;
    }
}

/*JUEJO*/

#play {
    padding: 10px 20px; 
    transition: background-color 0.2s ease;
  }
  
  #play::before {
    content: "\25B6";
    margin-right: 4px;
    display: none;
  }
  
  #play:hover {
    background-color: hsl(124, 88%, 36%);
    transform: scale(1);
    
  }
  
  #play:hover::before {
    display: inline-block; 
  }

#play {
    font-size: 16px; 
    transition: transform 0.3s ease-in-out; 
}  

#play:active {
    transform: scale(1.3); 
} 

.donde-estoy-juego {
    margin: 20px 0;
}
.nombre-juego{
    margin-bottom: 10px;
}
.descripcion-juego{
    margin-bottom: 10px;
}
.juego-compartir{
     background-color: var(--primarioSombra2); 
     display: flex;
     flex-direction: column;
     padding: 30px;
}

.section-juego{
   border-radius: 5px;
   position: relative;
}
.conteiner-foto-juego{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}
.fichas {
    position: absolute;
    width: 65px;
    border-radius: 50%;
}
.leny{
    top: 110px;
    right: 484px;
}
.karl{
    top: 10px;
    left: 300px; 
}
.foto-juego{
    width: 900px;
    height: 90%;
    object-fit: cover;
}
.conteiner-compartir-jugar{
    width: 900px;
    margin-top: 10px;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}
.btn-jugar-juego{
    width: 160px;
    font-size: 30px;
    border-radius: 5px;
}
.btn-jugar-juego :hover {
    background-color: var(--terciario); 
}
.btn-jugar-juego :hover ~ .fichas {
    transform: translateX(500px); 
}
.como-jugar-juego{
    background-color: var(--secundarioLuces1);
    margin: 20px 0;
    border-radius: 5px;
    padding:  30px;
    line-height: 25px;
}
.ayuda h2{
    margin-top: 25px;
}
.ayuda{
    display: flex;
    justify-content: space-between;
}
.objetivo p{
    text-align: justify;
}
.texto-ayuda{
    width: 700px;
    text-align: justify;
}

/*PASOS-JUEGO*/ 
.imagen-pasos {
    width: 380px;
    height: 250px;
    margin-top: 25px;
}
.visible{
    display: block;
}
.oculta{
    display: none;
}
.menu-pasos-juego {
  display: flex;
  justify-content:center;
  width: 100%;
}
.menu-pasos-juego button {
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border: var(--terciario) 1px solid;
    border-radius: 5px;
    transition: background-color 2s;
}
.menu-pasos-juego a:hover{
  transition: background-color var(--secundarioSombra2) ;
}
video {
    border-radius: 5px;
}
.nombre-Video-y-tiempo{
    display: flex;
    justify-content: space-between;
}
.contenedor-foro-videos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/*FORO*/
.foro{
    background-color: var(--secundario);
    width: 700px;
    padding: 25px;
    border-radius: 5px;
}
.comentario-usuario {
    display: flex;
}
.foro img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}    
.comentario-usuario input{
    background-color: var(--secundarioLuces2);
    border-radius: 5px;
    width: 100%;
    color: var(--neutroOscuro);
}
.btn-agregar-comentario{
    display: flex;  
}
.btn-agregar-comentario button{
   align-items: flex-end;
   width: 160px;
   margin: 15px 0 15px auto;
   font-size: 12px;
}
.comentarios-anteriores{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.cuerpo-comentario-foro{
    position: relative;
    background-color: var(--secundarioLuces1);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.fecha-comentario {
    position: absolute;
    right: 5px;
    font-size: 12px;
}
.comentador{
    font-weight: bold;
}
.comentario{
    width: 90%;
}
.ver-mas-comentarios {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
.contenedor-videos{
    background-color: var(--primarioSombra2);
    padding: 25px;
    border-radius: 5px;
}

.contenedor-videos iframe{
    width: 350PX;
    height: 200px;
    border-radius: 5px;
}
.videos-youtube{
    margin-bottom: 20px;
    border-radius: 5px;
}
.titulo-video{
    font-weight: bold;
}

/*POPUP-COMPARTIR*/
.contenido-popup img {
    width: 220px;
}
#popup-compartir {
    display: none;
    position: absolute;
    background-color: var(--primarioSombra2) ;
    top: 741px;
    left: 360px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 270px;   
    border-radius: 5px; 
}
.link-popup {
    background-color: var(--primario);
    border-radius: 5px;
    text-align: left;
    margin: 15px 0;
    padding: 5px;
}
.btn-copiar-link-popup{
    width: 200px;
}
.contenido-popup{
    text-align: center;
    margin-bottom: 25px;
    line-height: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
#popup-compras p{
    text-align: left;
}
.contenido-popup p{
    padding-top: 15px;
}
.compartir-juego {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.compartir-juego img{
    width: 35px;
    height: 35px;
}
#icono-compartir {
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}
.popup-open {
    background-color: transparent;
}
/*POPUP-LOGIN-USUARIO*/
#popup-login{
    display: none;
    background-color: var(--primarioLuces1);
    position: absolute;
    top: 29px;
    right: 25px;
    z-index: 25;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 220px;
}
#popup-compras{
    display: none;
    background-color: var(--primarioLuces1);
    position: absolute;
    top: 29px;
    right: 0px;
    z-index: 25;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 230px;
    line-height: 35px;
}
.cerrar-popup{
    position: absolute;
    padding: 0;
    width: 10px;
    right: 8px;
    top: 1px;
}
.encabezado-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 15px auto;
    font-size: 12px;
}
@media only screen and (min-width:768px){
    .encabezado-popup{
        font-size: 16px;
    }
    #popup-login{
        top: 50px;
        right: 60px;
    }
    #popup-compras{
        top: 50px;
        right: 0px;
    }
}

.encabezado-popup img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.btn-cerrar-popup{
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--neutroOscuro);
}
#btn-cerrar-popup-login, #btn-cerrar-popup-compras{
    background-color: var(--primarioLuces1);
}

#btn-cerrar-popup-compartir{
    background-color: var(--primarioSombra2);
}
.juego-precio{
    align-items: baseline;
}
.contenido-popup div{
    display: flex;
    justify-content: space-between;
}
.btn-pagar-compras{
    cursor: pointer;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    width: 60%;
    font-size: 16px;
}


/*FORMULARIO*/
.opcion-ingreso{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}
.inicio-sesion {
    width: 500px;
    background-color: var(--primarioSombra2);
    overflow: hidden; 
    border-radius: 10px;
    position: relative;
}
.conteiner-inicio , .conteiner-registro{
    padding: 40px 0;
    overflow: hidden; 
    position: relative;
    border-radius: 10px;
}
.letras {
    width: 2000px;
    transition: transform 1s ease;
    cursor: pointer;
}
.inicio-sesion:hover .letras {
    transform: translateX(-300px);
}

.iniciar{
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: var(--primarioLuces1);
    border-radius: 10px;
    width: 160px;
    padding: 3px;
}
.sesion{
    position: absolute;
    top: 172px;
    left: 220px;
    background-color: var(--primarioLuces1);
    border-radius: 10px;
    width: 160px;
    padding: 3px;
}
.registrarse{
    position: absolute;
    top: 145px;
    left: 95px;
    background-color: var(--primarioLuces1);
    border-radius: 10px;
    width: 300px;
    padding: 3px;
}

.main-login{
    padding-bottom: 50px;
}

#container-form-inicio-sesion, #container-form-registrarse{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--primarioSombra2);
    width: 500px;
    border-radius: 10px;
    margin-bottom: 25px;
}
#formulario-inicio, #formulario-registro{
    width: 100%;
}
#container-form-inicio-sesion{
    top: 300px;
    left: 0;
}
#container-form-registrarse{
    top: 300px;
    right: 0px; 
}
.botones-inicio-sesion {
    width: 60%;
    margin: 25px auto; 
    text-align: center;
}
.botones-inicio-sesion button{
    display: block; 
    width: 100%; 
    margin-bottom: 10px;
}
#btn-face, #btn-google{
    background-color: var(--secundarioLuces1);
    color: var(--neutroOscuro);
}
.form-group {
    margin: 30px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}
.contrenia-link{
    text-align: right;
    margin-right: 30px;
    margin-top: -25px;
    text-decoration: underline;
    cursor: pointer;
}
.form-group input{
    border: 1px solid var(--secundarioLuces1);
    border-radius: 3px;
    width: 100%;
    height: 25px;
}
.form-group span {
    color: red;
}
.campos-obligatorios {
    font-size: 12px;
    color: red;
    margin-left: 30px;
    margin-top: -20px;
}
.captcha{
    background-color: var(--secundarioLuces1);
    border: solid 1px var(--neutroOscuro);
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.captcha img{
    width: 80px;
}
#captcha{
    width: 25px;
}
.checkbox{
    display: flex;
    justify-content: space-around;
}
.checkbox p{
    margin-left: 10px;
}

button {
    background-color: var(--terciario);
    color: var(--secundarioLuces2);
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: transform 0.2s ease;
}
button:hover {
    background-color: var(--secundarioSombra2);
    transform: scale(1.05);
}


/*popup-formulario INICIO SESION y REGISTRACION */

#loading-container {
    display: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 999;
}

#loading {
  width: 60px;
  height: 60px;
  border: 10px solid var(--secundarioLuces2);
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#loading-progress {
    font-size: 24px;
    color: var(--secundarioLuces2);
    margin-top: 20px;
  }
/* Clase para ocultar elementos */
.loading-oculto {
  display: none;
}
#mensajeExito {
    display: none;
    width: 500px;
    height: 300px;
    background-color: var(--primarioLuces1);
    position: fixed;
    top: 300px;
    left: 750px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    text-align: left;
    font-size: 28px;
    color: var(--LetraLogo);
}

.bienvenido {
    color: var(--LetraLogo);
    margin: 45px 30px;
}
.exito {
    color: var(--LetraLogo);
    margin: 30px;
    text-align: center;
}

#cerrar-mnj-exito{
    text-align: right ;
    cursor: pointer;
    margin-left: 25px;
    position: absolute;
    right: 16px;
    top: 9px;
}
.logo-exito{
    display: flex;
    justify-content: center;
    
}
.logo-exito img{
    width: 100px;
    height: 100px;
    margin-top: -45px;
}

.logo-exito h1{
    font-size: 24px;
    margin-left: 0 ;
    width: 90px;
    margin-top: 19px;
    line-height: 16px;
    text-align: left;
    color: var(--LetraLogo);
}
.logo-exito h1 span{
    font-size: 16px;
    color: var(--LetraLogo);
}
 
  .show {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*-----------------------------------------------------------------*/
  /*juego 4 en linea */

.section-juego-opciones {
    text-align: center;
    position: absolute;
    left: 200px;
    top: 50px;
    background-color: var(--primarioSombra1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 25px 150px;
    width: 480px;
}
.section-juego-opciones h2{
    font-size: 30px;
    padding: 25px;
}
.nivel-juego {
    display: flex;  
    justify-content:space-between;
}
.opciones-juego label {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.opciones-juego span{
    font-weight: 250;
    font-size: 15px;
}
.radio-btns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 1px  var(--LetraLogo);
    cursor: pointer;
    background-color: var(--primarioSombra2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-btns>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.labelexpanded input:checked+.radio-btns {
    background-color: var(--primarioLuces2);
}
.text-jugador {
    font-size: 25px;
    font-weight: bold;
}
.opciones-fichas{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.jugador {
    margin: 45px 0px;
}
.jugador-seleccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.labelexpanded input {
    display: none;
}
.section-juego-opciones button{
    width: 220px;
    margin: 10px 50px;
}
.content-canvas {
    display: none;
}
.content-canvas {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto 30px auto;
}
.btn-canvas {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 5px;
    right: 5px;
    justify-content: space-between;
    width: 120px;
}
#btn-reiniciar , #btn-game-out  {
    width: 50px;
    height: 50px;
}

.turnos{
    display: flex;
    position: relative;
}



.turno-juego, .turno-juego1 {
    position: absolute;
    display: flex;
    top: 520px;
    height: 70px;
    background: var(--secundarioLuces1);
    opacity: 85%;
    border-radius: 5px;
    width: 170px;
    text-align: center;
    align-items: center;
    line-height: 27px;
    justify-content: center;
    color: var(--secundarioSombra2);
    font-size: 30px;
}
.turno-juego{
    left: 18px;
}

.turno-juego1{
    left: 812px;
}

.timer-juego {
    position: absolute;
    background-color: var(--secundarioSombra2);
    color:var(--secundarioLuces1);
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    top: 5px;
    left: 5px;
    border-radius: 5px;
}
.resultado-canvas {
    position: absolute;
    font-size: 20px;
    font-family: var(--letraGanador);
    display: none;
    top: 30px;
    left: 350px;
    height: 40px;
    background: var(--secundarioLuces1);
    color: var(--terciario);
    border-radius: 2.5px;
    width: 230px;
    align-items: center;
    justify-content: center;
    transform: scale(2);
    transition: transform 0.4s ease;
}

/*
.labelexpanded input:checked+.radio-btns {
    background: linear-gradient(180deg, #FF7600 12.5%, #FAC100 100%);
}*/
/*
.labelexpanded input:hover+.radio-btns {
    background: linear-gradient(180deg, #FF7600 12.5%, #FAC100 100%);
}*/
