*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    --primario: #FBB04C;
    --primarioLuces1: #FFC981;
    --primarioLuces2: #FFE9CC;
    --primarioSombra1: #F89F28;
    --primarioSombra2: #E18407;
    --secundario: #AAB1D2;
    --secundarioLuces1: #CCCFDD;
    --secundarioLuces2: #F5F6F8;
    --secundarioSombra1: #7A8BD8;
    --secundarioSombra2: #0C30D8;
    --terciario: #4848B0;
    --neutroOscuro: #575654;
    --neutroClaro: #D9D9D9;
    --LetraLogo: #734E2D;
    --fondoLogo: #FD8A76;

    /* --letraPrincipal: */
}


.grid {
    display: grid;
    grid-template-areas: "header"
                             "main"
                             "fat-footer";

}

/* Header */
header {
    background-color: var(--primarioLuces2);
    max-height: 90px;
    color: var(--neutroOscuro);
}
.conteiner-header {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    color: var(--LetraLogo);
    cursor: pointer;
}
.logo img{
    width: 200px;
    height: 200px;
    margin: -60px 0 0 -60px;
    padding-top: 0;
}
.logo h1{
    font-size: 25px;
    margin-left: -60px ;
    width: 120px;
    margin-top: 23.5px;
}
h1 span{
    font-size: 20px;
}
.search-container {
    position: relative;  
    margin-bottom: 30px;
} 
.search {
    width: 400px;
    height: 20px;
    padding: 7px;
    border: 1px solid var(--secundarioLuces1);
    background-color: var(--secundarioLuces2);
    border-radius: 10px;
}  
.input-with-image {
    width: 100%;
    cursor: pointer;
} 
.input-label {
    position: absolute;
    top: 20px;
    right: 7px;
    transform: translateY(-50%);
    cursor: pointer;
} 
.input-label img {
    width: 20px;
    height: auto;
}
.login-bolsa {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 16px;
    
}
.usuario{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 1.5px solid var(--neutroOscuro);
    padding: 3px;
    width: 40px;  
    height: 20px;
    cursor: pointer;
}
.bolsa img{
    height: 28px;
    cursor: pointer;
}

main {
    background-color: var(--primario);
    grid-area: main;
    min-height: 2026px;
}
.conteiner-main{
    max-width: 1180px;
    margin: 0 auto;
}

/* Menu categorias*/
.conteiner-categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.categoria{
    max-width: 131px;
    color: var(--neutroOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoria img{
    max-width: 40px;
}

/*footer*/
footer {
    background-color: var(--primarioSombra2);
    height: 220px;
}
.conteiner-footer {
    max-width: 1180px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.columnas-footer{
    width: 250px;
}
footer h3{
    margin-bottom: 10px;
}
footer li{
    margin: 4px 0;
    cursor: pointer;
}
.mensaje-footer {
    text-align: center;
}

/*seccion juegos*/
.titulo-categorias-cards{
    color: var(--neutroOscuro);
    margin-top: 30px;
    margin-bottom: 10px;
}
.contenedor-cards{
    display: flex;
}
.card-completa{
    background-color: var(--secundarioLuces2);
    width: 230px;
    border-radius: 7px;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.img-card{
    width: 230px;
    height: 270px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.texto-cards{
    margin: 10px;
    color: var(--neutroOscuro);
}
.texto-cards h3{
    padding: 5px 0;
}
.nombre-y-puntuacion-cards {
    display: flex;
    justify-content: space-between;
}
.puntuacion {
    display: flex;
    width: 50px;
}

.puntuacion img {
    width: 15px;
    height: 15px;
}

.conteiner-boton-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-cards{
    width: 75%;
    align-items: center;
    margin: 10PX 0;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}




.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inicio-sesion {
    margin: 50px;
    padding: 50px;
    background-color: #E18407;
}



.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.texto-inicio{
    text-align: center;
    padding: 25px;
    border: 0px;
    margin: 25px;
}





/*FORMULARIO*/
.body{
    font-family: Arial, sans-serif;
    background-color: #E18407;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
*/
button {
    background-color: var(--secundarioSombra1);
    color: var(--secundarioLuces2);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.campos-obligatorios {
    font-size: 8px;
    color: red;
}
button:hover {
    background-color: var(--secundarioSombra2);
}