*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;

}

.grid {
    display: grid;
    grid-template-areas: "header"
                             "main"
                             "fat-footer";

}

header {
    background-color: #FFE9CC;
    grid-area: header;
    min-height: 90px;
}
main {
    background-color: #FBB04C;
    grid-area: main;
    min-height: 2026px;
}
footer {
    background-color: #E18407;
    grid-area: fat-footer;
    min-height: 284px;
}
.conteiner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
}
.login-bolsa {
    display: flex;
}
.categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inicio-sesion {
    margin: 50px;
    padding: 50px;
    background-color: #E18407;
}

.columnas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    

}
.fila {
    text-align: center;
    

}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.texto-inicio{
    text-align: center;
    padding: 25px;
    border: 0px;
    margin: 25px;
}


/*FORMULARIO*/
.body{
    font-family: Arial, sans-serif;
    background-color: #E18407;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.campos-obligatorios {
    font-size: 8px;
    color: red;
}
button:hover {
    background-color: #0056b3;
}