*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--neutroOscuro);
    font-family: var(--letraPrincipal);
}

:root{
    --primario: #FBB04C;
    --primarioLuces1: #FFC981;
    --primarioLuces2: #FFE9CC;
    --primarioSombra1: #F89F28;
    --primarioSombra2: #E18407;
    --secundario: #AAB1D2;
    --secundarioLuces1: #CCCFDD;
    --secundarioLuces2: #F5F6F8;
    --secundarioSombra1: #7A8BD8;
    --secundarioSombra2: #0C30D8;
    --terciario: #4848B0;
    --neutroOscuro: #575654;
    --neutroClaro: #D9D9D9;
    --LetraLogo: #734E2D;
    --fondoLogo: #FD8A76;

    --letraPrincipal: 'Inder', sans-serif;
}

.grid {
    display: grid;
    grid-template-areas: "header"
                             "main"
                             "fat-footer";

}

/* Header */
header {
    background-color: var(--primarioLuces2);
    height: 40px;
}
.conteiner-header {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    cursor: pointer;
}
.logo img{
    width: 30px;
    height: 30px;
    margin: 5px 0;
}
.logo h1{
    font-size: 12px;
    margin-left: 0 ;
    width: 60px;
    margin-top: 17px;
    line-height: 8px;
    color: var(--LetraLogo);
}
h1 span{
    font-size: 8px;
    color: var(--LetraLogo);
}
.search-container {
    position: relative;  
} 
.search {
    width: 130px;
    height: 10px;
    padding: 5px;
    border: 1px solid var(--secundarioLuces1);
    background-color: var(--secundarioLuces2);
    border-radius: 5px;
    margin-top: 11px;
}  
.input-with-image {
    width: 100%;
    cursor: pointer;
} 
.input-label {
    position: absolute;
    top: 24px;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
} 
.input-label img {
    width: 18px;
    height: auto;
}
.login-bolsa {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-right: 10px;
    position: relative;
}
.login-bolsa img{
    height: 23px;
    cursor: pointer;   
}
.comprados{
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 9px;
}
@media only screen and (min-width:768px) {
    header {
        height: 90px;
    }
    .conteiner-header {
        max-width: 1080px;
        height: 90px;
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
    .logo h1{
        font-size: 25px;
        width: 120px;
        margin-top: 48px;
        line-height: 15px;
    }
    h1 span{
        font-size: 20px;
    }
    .search-container { 
        margin-top: 32px;
    } 
    .search {
        width: 400px;
        height: 20px;
        padding: 7px;
    }  
    .input-with-image {
        width: 100%;
        cursor: pointer;
    } 
    .input-label {
        position: absolute;
        top: 30px;
        right: 7px;
        transform: translateY(-50%);
        cursor: pointer;
    } 
    .input-label img {
        width: 25px;
        height: auto;
    }
    .login-bolsa {
        display: flex;
        justify-content: space-between;
        width: 100px;
        margin-top: 40px;
    }
    .login-bolsa img{
        height: 36px;
        cursor: pointer;
        margin-top: 3px;
    }
    .comprados{
        top: 17px;
        right: 14.5px;
        font-size: 15px;
    }
    
}

/*main*/
main {
    background-color: var(--primario);
    grid-area: main;
    min-height: 2026px;
}
.conteiner-main{
    margin: auto 10px;
}
@media only screen and (min-width:768px) {
    .conteiner-main{
        max-width: 1080px;
        margin: 0 auto;
    }
}

/* Menu categorias*/
.conteiner-menu{
    display: flex;
}
.menu-hamburguesa{
    display: flex;
    width: 15px;
}
.conteiner-categorias{
    display: none;
    background-color: var(--primarioSombra1);
    width: 60%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.categoria{
    margin-left: 20px;
    max-width: 131px;
    display: flex;
    justify-content: left;
    align-items: center;  
}
.categoria img{
    max-width: 15px;
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#categorias:hover {
    transform: scale(1.2);
}
.categoria h3{
    font-size: 12px;
    padding-bottom: 5px;
}
@media only screen and (min-width:768px) {
    .menu-categorias{
        display: none;
    }
    .conteiner-categorias {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        background-color: var(--primario);
        width: 100%;
    }
    .categoria{
        max-width: 131px;
        color: var(--neutroOscuro);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .categoria img{
        max-width: 40px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    #categorias:hover {
        transform: scale(1.2);
        
    }
    
}

/*footer*/
footer {
    background-color: var(--primarioSombra2);
}
.conteiner-footer {
    max-width: 80%;
    margin: 20px auto;
    display: block;
    justify-content: space-around;
    text-align: center;
}
.columnas-footer{
    width: 80%;
    margin: 20px auto;
}
footer h3{
    margin-bottom: 12px;
}
footer li{
    margin: 8px 0;
    cursor: pointer;
}
.redes-sociales img{
    width: 25px;
    height: 25px;
    margin: 0px 10px 8px 0;   
}
.mensaje-footer {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 10px auto;
}
@media only screen and (min-width:768px) {
    .conteiner-footer {
        max-width: 1080px;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .columnas-footer{
        width: 280px;
    }
    footer h3{
        margin-bottom: 10px;
    }
    footer li{
        margin: 4px 0;
        cursor: pointer;
    }
    .redes-sociales img{
        width: 25px;
        height: 25px;
        margin: 0px 10px 8px 0;   
    }
    .mensaje-footer {
        text-align: center;
        font-weight: bold;
        margin-bottom: 25px;
    }
}

/*seccion juegos*/

.conteiner-seccion-juegos{
    margin-bottom: 10px;
}
.titulo-categorias-cards{
    margin-top: 30px;
    margin-bottom: 10px;
}
.contenedor-cards, .contenedor-carrusel{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.cards-container, .carrusel{
    display: flex;   
    max-width: 400px ;  
    margin: 0 auto;
}
.card-completa {
    background-color: var(--secundarioLuces2);
    width: 230px;
    border-radius: 7px;
    margin: 0 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.contenedor-img-card{
    position: relative;
}
.img-card{
    width: 230px;
    height: 270px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.stiker-gratis{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -10px;
    right: -10px;
    transition: transform 0.3s ease; /* Transición para el efecto de escala */
}
.stiker-gratis:hover {
    transform: rotate(360deg); /* Gira 360 grados en hover */
}

.card-completa-carrusel {
    background-color: var(--secundarioLuces2);
    width: 230px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px; /* Espacio entre las tarjetas */
    transform: scale(1); /* Escala inicial de las tarjetas */
    transition: transform 0.5s ease-in-out; /* Transición para la animación de escala */
  }
  /* Estilo específico para la tarjeta del medio */
  .card-completa-carrusel:nth-child(3) {
    transform: scale(1.1) translateY(-20px)s; /* Escala más grande para la tarjeta del medio */
  }
  .card-completa-carrusel:nth-child(3) .stiker-gratis:hover {
    transform:  rotate(360deg)  ; /* Desplaza el sticker hacia abajo y rota */

  }
  
  /* Estilo específico para la tarjeta activa */
  .card-completa-carrusel.active {
    transform: scale(1.1) translateY(-20px); /* Escala más grande para la tarjeta activa */
  }
  .card-completa-carrusel.active .stiker-gratis {
    transform: translateY(25px) ; /* Desplaza el sticker hacia abajo */
  }
  .card-completa-carrusel.active .stiker-gratis:hover {
    transform:  rotate(360deg) ; /* Desplaza el sticker hacia abajo */
  }



/*se agrega efecto boton comprado*/
.boton-cards {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones para color de fondo y texto */
}
.boton-cards.clickeado {
    background-color: #28a745; /* Color de fondo al hacer clic */
    color: #fff; /* Color del texto al hacer clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones al hacer clic */
}
@media only screen and (min-width:768px){

}



  /*BOTON PLAY JUEGO*/
  #play {
    padding: 10px 20px; /* Ajusta el espaciado según tu diseño */
     /* Ajusta el tamaño de fuente según tu diseño */
  /*  transition: transform 0.2s ease-in-out; /* Agrega una transición suave al cambio de escala */
    transition: background-color 0.2s ease;
  }
  
  #play::before {
    content: "\25B6"; /* Código Unicode del icono de "play" */
    margin-right: 4px; /* Espaciado entre el icono y el texto */
    display: none; /* Inicialmente oculta el icono */
  }
  
  #play:hover {
    background-color: hsl(124, 88%, 36%);
    transform: scale(1);
    
  }
  
  #play:hover::before {
    display: inline-block; /* Muestra el icono en hover */
  }
/*boton-comentarios*/

#comentario:hover{
    color: var(--terciario);
    border: var(--terciario);
    background-color: var(--primarioLuces1);
    transform: scale(1);

  }


.texto-cards{
    margin: 10px;
    height: 65px;
}
.texto-cards h3{
    padding: 5px 0;
}
.nombre-y-puntuacion-cards {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 17px;
}
.puntuacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.puntuacion img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.conteiner-boton-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-cards{
    width: 55%;
    align-items: center;
    margin: 5px auto 15px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones para color de fondo y texto */
}
.boton-cards.clickeado {
    background-color: #28a745; /* Color de fondo al hacer clic */
    color: #fff; /* Color del texto al hacer clic */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones al hacer clic */
}
@media only screen and (min-width:768px){    
    .conteiner-seccion-juegos{
        margin-bottom: 30px;
    }
    .titulo-categorias-cards{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contenedor-cards, .contenedor-carrusel{
        display: flex;
        position: relative;
    }
    .cards-container, .carrusel{
        display: flex; 
        margin: 0;    
    }
    .card-completa {
        background-color: var(--secundarioLuces2);
        width: 230px;
        border-radius: 7px;
        margin: 0 25px 0 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .contenedor-img-card{
        position: relative;
    }
    .img-card{
        width: 230px;
        height: 270px;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .stiker-gratis{
        position: absolute;
        width: 120px;
        height: 120px;
        top: -10px;
        right: -10px;
        transition: transform 0.3s ease; /* Transición para el efecto de escala */
    }
    .stiker-gratis:hover {
        transform: rotate(360deg); /* Gira 360 grados en hover */
    }
    .texto-cards{
        margin: 10px;
        height: 65px;
        color: var(--neutroOscuro);
    }
    .texto-cards h3{
        padding: 5px 0;
    }
    .nombre-y-puntuacion-cards {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        line-height: 17px;
    }
    .puntuacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .puntuacion img {
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }
    .conteiner-boton-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton-cards{
        width: 55%;
        align-items: center;
        margin: 5px auto 15px auto;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones para color de fondo y texto */
    }
    .boton-cards.clickeado {
        background-color: #28a745; /* Color de fondo al hacer clic */
        color: #fff; /* Color del texto al hacer clic */
        transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones al hacer clic */
    }
}
/*---CARRUSEL-----*/
.contenedor-carrusel{
    overflow: hidden;
}
.boton-carrusel {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    z-index: 4;
    user-select: none; 
}
#anterior {
    left: 0px;  
}
#siguiente {
    right: 10px;
}
/*    lO DESACTIVE XQ NO SE CLICKEABA BIEN
#anterior:hover {
    transform: translate(-50%);
    transition: transform 0.3s ease; 
}
#siguiente:hover {
    transform: translate(50%);
    transition: transform 0.3s ease; 
}   
*/
.card-completa-carrusel {
    background-color: var(--secundarioLuces2);
    width: 230px;
    margin: 0 20%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /*flex: 0 0 calc(20% - 20px); /* Ajusta el ancho de cada tarjeta según tus necesidades */
    margin-right: 20px; /* Espacio entre las tarjetas */
    transform: scale(1); /* Escala inicial de las tarjetas */
    transition: transform 0.5s ease-in-out; /* Transición para la animación de escala */
}
  /* Estilo específico para la tarjeta del medio */
.card-completa-carrusel:nth-child(3) {
    transform: scale(1.1) translateY(-20px)s; /* Escala más grande para la tarjeta del medio */
}
.card-completa-carrusel:nth-child(3) .stiker-gratis:hover {
    transform:  rotate(360deg)  ; /* Desplaza el sticker hacia abajo y rota */
}
  /* Estilo específico para la tarjeta activa */
.card-completa-carrusel.active {
    transform: scale(1.1) translateY(-20px); /* Escala más grande para la tarjeta activa */
}
.card-completa-carrusel.active .stiker-gratis {
    transform: translateY(25px) ; /* Desplaza el sticker hacia abajo */
}
.card-completa-carrusel.active .stiker-gratis:hover {
    transform:  rotate(360deg) ; /* Desplaza el sticker hacia abajo */
}




  /*BOTON PLAY JUEGO*/
#play {/* Estilos regulares del botón */
    padding: 10px 20px; /* Ajusta el espaciado según tu diseño */
    font-size: 16px; /* Ajusta el tamaño de fuente según tu diseño */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave al cambio de escala */
}  
#play:active {
    transform: scale(1.3) rotate(360deg); /* Escala el botón al "x"% del tamaño original cuando se hace clic */
} 

/*JUEJO*/
.donde-estoy-juego {
    margin: 20px 0;
}
.nombre-juego{
    margin-bottom: 10px;
}
.descripcion-juego{
    margin-bottom: 10px;
}
.section-juego{
   background-color: var(--primarioSombra2); 
   padding: 30px;
   color: var(--neutroOscuro);
   border-radius: 5px;
}
.conteiner-foto-juego{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}
.fichas {
    position: absolute;
    width: 65px;
    border-radius: 50%;
}
.leny{
    top: 10px;
    left: 145px;
}
.karl{
    top: 10px;
    left: 300px; 
}
.foto-juego{
    width: 900px;
    height: 90%;
    object-fit: cover;
}
.conteiner-compartir-jugar{
    width: 900px;
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}
.btn-jugar-juego{
    width: 160px;
    font-size: 30px;
    border-radius: 5px;
}
.btn-jugar-juego :hover {
    background-color: var(--terciario); 
}
.btn-jugar-juego :hover ~ .fichas {
    transform: translateX(500px); 
}
.como-jugar-juego{
    background-color: var(--secundarioLuces1);
    margin: 20px 0;
    border-radius: 5px;
    padding:  30px;
    line-height: 25px;
}
.ayuda h2{
    margin-top: 25px;
}
.ayuda{
    display: flex;
    justify-content: space-between;
}
.objetivo p{
    text-align: justify;
}
.texto-ayuda{
    width: 630px;
    text-align: justify;
}

/*PASOS-JUEGO*/ 
.imagen-pasos {
    width: 350px;
    height: 250px;
    margin-top: 25px;
}
.visible{
    display: block;
}
.oculta{
    display: none;
}
.menu-pasos-juego {
  display: flex;
  justify-content:center;
  width: 100%;
}
.menu-pasos-juego button {
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border: var(--terciario) 1px solid;
    border-radius: 5px;
    transition: background-color 2s;
}
.menu-pasos-juego a:hover{
  transition: background-color var(--secundarioSombra2) ;
}
video {
    border-radius: 5px;
}
.nombre-Video-y-tiempo{
    display: flex;
    justify-content: space-between;
}
.contenedor-foro-videos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/*FORO*/
.foro{
    background-color: var(--secundario);
    width: 650px;
    padding: 25px;
    border-radius: 5px;
}
.comentario-usuario {
    display: flex;
}
.foro img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}    
.comentario-usuario input{
    background-color: var(--secundarioLuces2);
    border-radius: 5px;
    width: 100%;
    color: var(--neutroOscuro);
}
.btn-agregar-comentario{
    display: flex;  
}
.btn-agregar-comentario button{
   align-items: flex-end;
   width: 160px;
   margin: 15px 0 15px auto;
   font-size: 12px;
}
.comentarios-anteriores{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.cuerpo-comentario-foro{
    position: relative;
    background-color: var(--secundarioLuces1);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.fecha-comentario {
    position: absolute;
    right: 5px;
    font-size: 12px;
}
.comentador{
    font-weight: bold;
}
.comentario{
    width: 90%;
}
.ver-mas-comentarios {
    text-align: right;
    text-decoration: underline;
}
.contenedor-videos iframe{
    width: 350PX;
    height: 200px;
    border-radius: 5px;
}
.videos-youtube{
    margin-bottom: 20px;
    border-radius: 5px;
}
.titulo-video{
    font-weight: bold;
}

/*POPUP-COMPARTIR*/
.contenido-popup img {
    width: 220px;
}
#popup-compartir {
    display: none;
    background-color: var(--primarioSombra2) ;
    position: fixed;
    top: 50px;
    left: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 270px;   
    border-radius: 5px; 
}
.link-popup {
    background-color: var(--primario);
    border-radius: 5px;
    text-align: left;
    margin: 15px 0;
    padding: 5px;
}
.btn-copiar-link-popup{
    width: 200px;
}
.contenido-popup{
    text-align: center;
    margin-bottom: 25px;
    line-height: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
#popup-compras p{
    text-align: left;
}
.contenido-popup p{
    padding-top: 15px;
}
.compartir-juego {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.compartir-juego img{
    width: 35px;
    height: 35px;
}
#icono-compartir {
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 2; /* Coloca la superposición sobre el popup */
}
.popup-open {
    background-color: transparent;
}
/*POPUP-LOGIN-USUARIO*/
#popup-login{
    display: none;
    background-color: var(--primarioLuces1);
    position: absolute;
    top: 192px;
    left: -30px;
    z-index: 25;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 230px;
}
.cerrar-popup{
    position: absolute;
    right: -1px;
    top: 1px;
}
.encabezado-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 15px auto;
}
.encabezado-popup img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.btn-cerrar-popup{
    background-color: var(--primarioLuces1);
    color: var(--neutroOscuro);
    border: none;
    cursor: pointer;
}
/*POPUP-COMPRAS*/  
#popup-compras{
    display: none;
    background-color: var(--primarioLuces1);
    position: absolute;
    top: 168px;
    left: 30px;
    z-index: 25;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 230px;
    line-height: 35px;
}

.juego-precio{
    align-items: baseline;
}
.contenido-popup div{
    display: flex;
    justify-content: space-between;
}
.btn-pagar-compras{
    cursor: pointer;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    width: 60%;
}


/*FORMULARIO*/
.opcion-ingreso{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.inicio-sesion {
    width: 500px;
    background-color: var(--primarioSombra2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inicio-sesion img {
    width: 90%;
    height: 90%;
}
#img-inicio, #img-registrarse {
    cursor: pointer;
    transition: transform 2s;
}
#img-inicio:hover, #img-registrarse:hover {
   transform: rotate3d(2,2,2,360deg);
}
#container-form-inicio-sesion, #container-form-registrarse{
    display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--primarioSombra2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    padding: 35px;
}
#container-form-inicio-sesion{
    top: 400px;
    left: 50px;
}
#container-form-registrarse{
    top: 400px;
    right: 50px; 
}
.botones-inicio-sesion {
    margin: 0 auto; 
    text-align: center;
}
.botones-inicio-sesion button{
    display: block; 
    width: 100%; 
    margin-bottom: 10px;
}
#formulario-inicio , #formulario-registro{
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}
.form-group input{
    border: 1px solid var(--secundarioLuces2);
    border-radius: 3px;
    width: 100%;
    height: 25px;
}
.campos-obligatorios {
    font-size: 8px;
    color: red;
}
button {
    background-color: var(--terciario);
    color: var(--secundarioLuces2);
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: transform 0.2s ease;
}
button:hover {
    background-color: var(--secundarioSombra2);
    transform: scale(1.05);
}

/*SE AGREGA*/
/*popup-formulario INICIO SESION y REGISTRACION */
  

#container-form-inicio-sesion, #container-form-registrarse{
    display: none;
    background-color: #E18407;
    margin-top: 30%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 355px;
    position: relative;
}
#img-inicio, #img-registrarse {
    cursor: pointer;
    transition: transform 2s;

}


#spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #loading-container {
    display: none;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
  
  #loading {
    width: 60px;
    height: 60px;
    border: 6px solid #007BFF;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    margin: 0 auto;
  }
  
  /* Estilo para el contador AVANCE % */
#loading-progress {
    font-size: 24px;
    color: #007BFF;
    margin-top: 20px;
  }
/* Clase para ocultar elementos */
.loading-oculto {
  display: none;
}
#mensajeExito {
    display: none;
    width: 500px;
    height: 350px;
    background-color: var(--primarioLuces1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    text-align: center;
    font-size: 28px;
    text-align: center;
    color: var(--LetraLogo);
    }

#mensajeExito p{
    margin-top: 20px;
    color: var(--LetraLogo);
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
#mensajeExito :first-child{
    text-align: right ;
    cursor: pointer;
    margin-left: 25px;
}
 
  /* Estilo al pasar el cursor sobre el botón de cierre */
  #mensajeExito :first-child:hover {
    color: #f44336; /* Cambia el color del botón al pasar el cursor */
  }
  
  .show {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }