*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    --primario: #FBB04C;
    --primarioLuces1: #FFC981;
    --primarioLuces2: #FFE9CC;
    --primarioSombra1: #F89F28;
    --primarioSombra2: #E18407;
    --secundario: #AAB1D2;
    --secundarioLuces1: #CCCFDD;
    --secundarioLuces2: #F5F6F8;
    --secundarioSombra1: #7A8BD8;
    --secundarioSombra2: #0C30D8;
    --terciario: #4848B0;
    --neutroOscuro: #575654;
    --neutroClaro: #D9D9D9;
    --LetraLogo: #734E2D;
    --fondoLogo: #FD8A76;

    /* --letraPrincipal: */
}


.grid {
    display: grid;
    grid-template-areas: "header"
                             "main"
                             "fat-footer";

}

/* Header */
header {
    background-color: var(--primarioLuces2);
    max-height: 90px;
    color: var(--neutroOscuro);
}
.conteiner-header {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    color: var(--LetraLogo);
    cursor: pointer;
}
.logo img{
    width: 200px;
    height: 200px;
    margin: -60px 0 0 -60px;
    padding-top: 0;
}
.logo h1{
    font-size: 25px;
    margin-left: -60px ;
    width: 120px;
    margin-top: 23.5px;
}
h1 span{
    font-size: 20px;
}
.search-container {
    position: relative;  
    margin-bottom: 30px;
} 
.search {
    width: 400px;
    height: 20px;
    padding: 7px;
    border: 1px solid var(--secundarioLuces1);
    background-color: var(--secundarioLuces2);
    border-radius: 10px;
}  
.input-with-image {
    width: 100%;
    cursor: pointer;
} 
.input-label {
    position: absolute;
    top: 20px;
    right: 7px;
    transform: translateY(-50%);
    cursor: pointer;
} 
.input-label img {
    width: 20px;
    height: auto;
}
.login-bolsa {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-bottom: 24px;
    
}
.usuario{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 1.5px solid var(--neutroOscuro);
    padding: 3px;
    width: 70px;  
    height: 30px;
    cursor: pointer;
}
.bolsa img{
    height: 36px;
    cursor: pointer;
}

main {
    background-color: var(--primario);
    grid-area: main;
    min-height: 2026px;
}
.conteiner-main{
    max-width: 1080px;
    margin: 0 auto;
}

/* Menu categorias*/
.conteiner-categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.categoria{
    max-width: 131px;
    color: var(--neutroOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoria img{
    max-width: 40px;
}

/*footer*/
footer {
    background-color: var(--primarioSombra2);
    height: 220px;
    color:var(--neutroOscuro);
}
.conteiner-footer {
    max-width: 1080px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.columnas-footer{
    width: 250px;
}
footer h3{
    margin-bottom: 10px;
}
footer li{
    margin: 4px 0;
    cursor: pointer;
}
.redes-sociales img{
    width: 25px;
    height: 25px;
    margin: 0px 10px 8px 0;
    
}
.mensaje-footer {
    text-align: center;
    font-weight: bold;
}

/*seccion juegos*/
.titulo-categorias-cards{
    color: var(--neutroOscuro);
    margin-top: 40px;
    margin-bottom: 10px;
}
.contenedor-cards{
    display: flex;
}
.card-completa{
    background-color: var(--secundarioLuces2);
    width: 230px;
    border-radius: 7px;
    margin-right: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.contenedor-img-card{
    position: relative;
}
.img-card{
    width: 230px;
    height: 270px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.stiker-gratis{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -10px;
    right: -10px;
}
.texto-cards{
    margin: 10px;
    height: 65px;
    color: var(--neutroOscuro);
}
.texto-cards h3{
    padding: 5px 0;
}
.nombre-y-puntuacion-cards {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 17px;
}
.puntuacion {
    display: flex;
    align-items: center;
    justify-content: right;
}
.puntuacion img {
    width: 15px;
    height: 15px;
}
.conteiner-boton-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-cards{
    width: 55%;
    align-items: center;
    margin: 5px auto 15px auto;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*JUEJO*/
.donde-estoy-juego {
    margin: 20px 0;
    color: var(--neutroOscuro);
}
.nombre-juego{
    margin-bottom: 10px;
}
.descripcion-juego{
    margin-bottom: 10px;
}
.section-juego{
   background-color: var(--primarioSombra2); 
   padding: 30px;
   color: var(--neutroOscuro);
   border-radius: 5px;
}
.foto-juego{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conteiner-compartir-jugar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btn-jugar-juego{
    width: 160px;
    font-size: 30px;
    border-radius: 5px;
}
.btn-jugar-juego :hover {
    background-color: var(--terciario); 
}
.como-jugar-juego{
    background-color: var(--secundarioLuces1);
    margin: 20px 0;
    border-radius: 5px;
    padding: 20px;
    line-height: 25px;
}
.ayuda{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.texto-ayuda{
    width: 50%;
}




.nombre-Video-y-tiempo{
    display: flex;
    justify-content: space-between;
}
.contenedor-foro-videos{
    display: flex;
}

/*FORO*/
.foro{
    background-color: var(--secundario);
    width: 800px;
    padding: 25px;
}
.comentario-usuario {
    display: flex;
}
.foro img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}    
.comentario-usuario input{
    background-color: var(--secundarioLuces2);
    border-radius: 5px;
    width: 100%;
    color: var(--neutroOscuro);
}
.btn-agregar-comentario{
    display: flex;
   
}
.btn-agregar-comentario button{
   align-items: flex-end;
   width: 150px;
   margin: 15px 0 15px auto;
   font-size: 12px;
}

.comentarios-anteriores{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.cuerpo-comentario-foro{
    position: relative;
    background-color: var(--secundarioLuces1);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.fecha-comentario {
    position: absolute;
    right: 5px;
    font-size: 12px;
}
.comentador{
    font-weight: bold;
}
.comentario{
    width: 90%;
}

/*PASOS-JUEGO*/
  

  
    ul, li {
      padding: 0%;
      margin: 0%;
      list-style: none inside;
      
    }
    ul.carrusel-pasos-juego{
      position: relative; 
    }
    .carrusel-pasos-juego img {
      opacity: 0;
      transition: opacity 1s;
      position: absolute;
      left: 0;
    
      top: 0;
      margin: 15px;
      padding: 15px;
      background-color: #CCCFDD;
    }
    ul.carrusel-pasos-juego:first-child {
      min-width: 250px;
      min-height:  250px;
      opacity: 1;
    }
    ul.carrusel-pasos-juego img:target {
      opacity: 1;
    }
  nav {
    position: relative;
  }
  .menu-pasos-juego li{
    display: inline;
    margin-right: 25px;
  }
  .menu-pasos-juego a {
    text-decoration: none;
    padding: 5px;
    border: #4848B0 1px solid;
    border-radius: 1%;
    transition: background-color 2s;
  }
  .menu-pasos-juego a:hover{
    transition: background-color #E18407 ;
  }

/*POPUP-COMPARTIR*/
#popup-compartir {
    display: none;
    background-color: #E18407 ;
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 400px;
        
}
#btn-cerrar-popup-compartir {
    background-color: #E18407 ;
    margin-top: 10px;
    padding: 5px 10px;
    color: #575654;
    border: none;
    cursor: pointer;
    text-align: right ;
}

.link-popup {
    background-color: #FBB04C;
}
.btn-copiar-link-popup {
    cursor: pointer;
    background-color: #4848B0;
}

.contenido-popup{
    text-align: center;
}
.compartir-juego {
    display: flex;
}
#icono-compartir {
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 2; /* Coloca la superposición sobre el popup */
  }

  .popup-open {
    background-color: transparent;
  }
/*POPUP-LOGIN-USUARIO*/
.encabezado-popup
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-login{
    display: none;
    background-color: #FFC981;
    position: fixed;
    top: 37.5%;
    left: 84%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 340px;
}
#btn-cerrar-popup-login{
    background-color: #FFC981;
    margin-top: 10px;
    padding: 5px 10px;
    color: #575654;
    border: none;
    cursor: pointer;
    text-align: right 
}
/*POPUP-COMPRAS*/
  
#popup-compras{
    display: none;
    background-color: #FFC981;
    position: fixed;
    top: 31.5%;
    left: 85.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 255px;
  }
  #btn-cerrar-popup-compras{
    background-color: #FFC981;
    margin-top: 10px;
    padding: 5px 10px;
    color: #575654;
    border: none;
    cursor: pointer;
    text-align: right 
  }
  .juego-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.total-compras{
    display: flex;
    justify-content: space-between;
}


  .btn-pagar-compras{
    background-color: #4848B0;
    cursor: pointer;
    border-radius: 20%;
    

  }

/*FORMULARIO*/
.body{
    font-family: Arial, sans-serif;
    background-color: #E18407;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
*/

.campos-obligatorios {
    font-size: 8px;
    color: red;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inicio-sesion {
    margin: 50px;
    padding: 50px;
    background-color: #E18407;
}


.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.texto-inicio{
    text-align: center;
    padding: 25px;
    border: 0px;
    margin: 25px;
}





/*FORMULARIO*/
.body{
    font-family: Arial, sans-serif;
    background-color: #E18407;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
*/
button {
    background-color: var(--terciario);
    color: var(--secundarioLuces2);
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
.campos-obligatorios {
    font-size: 8px;
    color: red;
}
button:hover {
    background-color: var(--secundarioSombra2);
}

/*SE AGREGA*/
/*popup-formulario INICIO SESION y REGISTRACION */
  
  #container-form-inicio-sesion, #container-form-registrarse{
    display: none;
    background-color: #E18407;
    
    margin-top: 30%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 355px;

  }
  #img-inicio, #-img-registrarse {
    cursor: pointer;
  }

#loading-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007BFF; /* Color del texto de porcentaje */
  font-weight: bold;
}
#spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007BFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-container {
  display: none;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#loading {
  width: 60px;
  height: 60px;
  border: 6px solid #007BFF;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  margin: 0 auto;
}

/* Estilo para el contador regresivo */
#loading-timer {
  font-size: 24px;
  color: #007BFF;
  margin-top: 20px;
}

/* Clase para ocultar elementos */
.loading-oculto {
  display: none;
}

#mensajeExito {
    display: none;
    background-color: #E18407 ;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  #mensajeExito :first-child{
    text-align: right ;
    cursor: pointer;
  }