html {
  font-weight: 400;
  background-color: #000000; 
  font-family: 'lato-regular';
}
* {
	margin: 0 ;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
@font-face {
  font-family: 'lato-regular';
  src: url(./lato/Lato-Regular.ttf);
}
@font-face {
  font-family: 'lato-bold';
  src: url(./lato/Lato-Regular.ttf);
}

.contenedor-1280{
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.container-header{
  width: 1080px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  transition: transform 3s ease;
  z-index: 4;
  height: 115px;
}
.header-mini{
  position: fixed;
  z-index: 6;
  height: 115px;
  width: 1280px;
  background: linear-gradient(180deg, #5499f8 -0%, #5499f8 87.91%, rgba(84, 153, 248, 0) 100%);
}
  #main-header.mini {
  position: sticky;
  width: 1080px;
  margin: 0 auto;
  z-index: 8;
}
#container-mini-header{
  background-color: rgba(0, 0, 0, 0);
}

#conteiner-logo{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.logo{
  left: 345px;
  width: 590px;
  height: 301px;
  object-fit: cover;
  margin: 0 auto;
  z-index: 9;
}
.logo-mini {
  margin-top: 20px;
  width: 133px;
  height: 68px;
  padding-left: 190px;
}
/*-------------------mini logo-------------------*/
.conteiner-logo-mini {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/*--------------------------------------------------*/
.menu-hamburguesa{
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}
.linea-hamburguesa{
  background-color: #ffe901;
  border-radius: 7px;
  border: #2981ff 4px solid;
  width: 34px;
  height: 4px;
  box-shadow: 4px 5px 0 #02187e;
  margin-top: -1px;
}
/*-------------Pto 2--OPCIONAL 2-  menu en cruz-------------*/
.menu-hamburguesa {
  #linea1 {
      transform-origin: top left;
  }
  #linea2 {
      opacity: 1;
  }
  #linea3 {
      transform-origin: bottom left;
  }
  &.active {
      #linea1 {
          transform: translate(0px, -2px) rotate(45deg);
          transition: transform 1s ease;
      }
      #linea2 {
          opacity: 0;
          width: 0;
      }
      #linea3 {
          transform: translate(-3px, 5px) rotate(-45deg);
          transition: transform 1s ease;
      } 
  }
}
/*----------------Pto 3-OPCIONAL 3------------------------------------*/
.items-menu{
  overflow: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  margin-top: 20px;
  z-index: 4;
}
#main-header .items-menu.open {
  height: 475px;
  width: 225px;
  position: fixed;
  background-color: #5499F8 ;
  border: #2981ff 1px solid;
  border-radius: 7px;
  padding: 20px 10px;
  opacity: 1;
  margin-left: -200px;
}
#main-header .items-menu.open h3 {
  font-size: 30px;
  color: #ffe901 ;
  background: linear-gradient(180deg, #ffe901 12.5%, #ffe901 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: translateX(100px);
  transition: transform 1s ease-out;
  text-align: right;
  margin-right: 110px;
  margin-top: 10px;
}
#main-header .items-menu.open ul {
  border-bottom: 3px solid #921ae8;
  transform: translateX(70px);
  transition: transform 2s ease-out;
  opacity: 1;
  text-align: right;
  margin-right: 70px;
}
#main-header .items-menu ul {
 opacity: 0;
}
#main-header .items-menu.open li {
  color: #C6C6C6;
  font-size: 20px;
  font-weight: lighter;
  margin: 8px;
}
#main-header .items-menu.open li:hover {
  color: #e8961a;
  background: linear-gradient(180deg, #ffe901 12.5%, #e5dfcc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}
/*-------------------------------------------------------------*/
.comprar-iMY{
  margin-top: 20px;
  background-color: #ffe901;
  width: 216px;
  height: 66px;
  border-radius: 111px;
  font-size: 20px;
  border: #2981ff 8px solid;
  box-shadow: 4px 5px 0 #02187e;
  font-family: 'lato-bold', 'Source Sans Pro';
  font-weight: 900;
  letter-spacing: 2.3px;
  -webkit-text-stroke: 2px #02187e;
  white-space: nowrap;
  color: #02187e;
}  
/*-------------------Pto 10----BTN-CPMPRAR------*/
.comprar-iMY {
  transition: background-color box-shadow 0.5s linear;
}

.comprar-iMY:hover {
background-color: #e74c3c; /* Nuevo color en hover */
color: #ffffff; 
box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
}

/*-----------------Pto 7--prallax-inicio--------------------------*/
.parallax{
  position: relative;
 
}
.parallax div {
  position: absolute;
  object-fit: contain;
}
.layer-1{
  width: 1280px;
  height: 227px;
  background-image: url(../IMG/rectangle-1.png);
  top: -60px;
  z-index: -1;
}
.layer-2{
  width: 1280px;
  height: 720px;
  background-image: url(../IMG/untitled-1-1.png);
  top: 126px;
  z-index: -1;
}
.edifIzquierda{
  width: 452px;
  height: 720px;
  background-image: url(../IMG/untitled-1-3.png);
  top: 144px;
  left: -47px;
  z-index: 2;
  bottom: 0;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}
.edifIzquierda.oculto {
  left: -100px;
  opacity: 0;
}
.edifMedio{
  width: 543.5px;
  height: 213.5px;
  background-image: url(../IMG/untitled-1-5.png);
  top: 634px;
  left: 392px;
  z-index: 2;
  bottom: 15px;
  opacity: 1;
  transition: all 0.5s ease-in;
  
}
.edifMedio.oculto {
  bottom: -40px;
  opacity: 0;
}
.edifDerecha{
  width: 374px;
  height: 727.5px;
  background-image: url(../IMG/untitled-1-4.png);
  top: 126px;
  left: 906px;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}

.edifDerecha.oculto {
  right: -100px;
  opacity: 0;
}
.spider1{
  width: 360px;
  height: 444px;
  background-image: url(../IMG/image-3.png);
  background-size: 100% 100%;
  top: 388px;
  left: 90px;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.4s;
}
.spider1.oculto {
  top: -100px;
  left: -100px;
  opacity: 0;
}

.spider2{
  width: 465px;
  height: 465px;
  background-image: url(../IMG/image-2.png);
  background-size: 100% 100%;
  top: 403px;
  left: 404px;
  z-index: 3;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.7s;
}

.spider2.oculto {
  top: 200px;
  opacity: 0;
}

.spider3{
  width: 393px;
  height: 393px;
  background-image: url(../IMG/image-1.png);
  background-size: 100% 100%;
  top: 335px;
  left: 695px;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.5s;
}

.spider3.oculto {
  top: -100px;
  left: 700px;
  opacity: 0;
}

.telaIzq{
  width: 450.82px;
  height: 627.27px;
  background-image: url(../IMG/untitled-5-2.png);
  background-size: 100% 100%;
  top: 398.65px;
  left: -65.4px;
  object-fit: cover;
  transform: rotate(65.4deg);
  z-index: 3;
  transition: all 0.5s ease-in;
  transition-delay: 0.7s;
}

.telaIzq.oculto {
  top: 200px;
  opacity: 0;
}

.telaDer{
  width: 256.66px;
  height: 372.44px;
  background-image: url(../IMG/untitled-5-3.png);
  background-size: 100% 100%;
  top: 388px;
  left: 1087.83px;
  transform: scaleX(-1);
  transform: rotate(-114.6deg);
  z-index: 3;
  opacity: 1;
  transition: all 0.3s ease-in;
  transition-delay: 0.6s;
}

.telaDer.oculto{
  left: 1345px;
  top: -400;
  opacity: 0;
}
/*-----------------------------------------------------------------------*/
.poligono-spidey{
  height: 844.5px;
  width: 1280px;
  position: relative;
  z-index: 2;
  margin-top: 650px;
}
.contenedor-spidey{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.grid-spidey{
  margin-top: -720px;
  display: grid;
  grid-template-columns: 586px 494px;
  grid-template-rows: 1fr 1fr;
  z-index: 3;
}
.texto-spidey{
  grid-column: 1;
  color: #FFFFFF;
  margin-top: 80px;
}
.img-grid-1{
  grid-column: 1;
}
.img-grid-2{
  grid-column: 2;
  grid-row: 1 / span 2;
}
.texto-spidey h1{
  font-size: 60px;
  font-weight: 600;
  line-height: 56.7px;
  margin-bottom: 30px;
}
.texto-spidey p{
  font-size: 20px;
  line-height: 24px;
}
.image-16-B9t{
  width: 751.65px;
  height: 413.13px;
  border-radius: 26px;
  transform: rotate(-2.22deg);
  border: #ffffff solid 9px;
  object-fit: cover;
  margin-top: -10px;
  box-shadow: 4px 5px 0 #5E5E5D;
  background-image: url(../IMG/image-16.png);
  background-size:  100% 118.165%;
  background-position: -0px -50px;

}
.untitled-3-1-dna{
  width: 553px;
  height: 921px;
  margin-right: 0px;
  transform: scaleX(-1);
  margin-top: -250px;  
}
.poligono-trio-imagenes{
  position: relative;
  z-index: 1;
  width: 1280px;
  margin-top: -400px;
  height: 1235px;
}
.contenedor-trio-imagenes{      
  margin-top: -800px;
  position: relative;
  z-index: 2;
}
.trio-imagenes{
  display: flex;
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  
}
.imagen-texto {
  position: relative;
  width: 314.96px;
  top: 650px;
}
.contenedor-imagen-texto{
  position: absolute;
}
.imagen-texto {
  opacity: 0;
  transition: opacity 1s, transform 2s; 
}
.imagen-texto.visible {
  opacity: 1;
}

.trio-imagen1{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-13.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen2{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-8.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen3{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-24.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagenes p{
  margin-top: 20px;
  width: 333px;
  font-size: 20px;
  line-height: 24px;
}
/*---------------------------------------------------------------------------*/
.ghost{
  position: relative;
  margin-top: 680px;
}
.conteiner-ghost{
  width: 1080px;
  margin: 0 auto;
  position: relative;
  margin-top: -650px;
}
.ghost img{
  position: relative;
  z-index: 1;
  width: 1280px;
  height: 566px;
}
.test img{
  width: 546.11px;
  height: 326.51px;
  position: absolute;
}
.test-1{
  left: -12px;
  top: 0px;
  transform: rotate(-13deg);
}
.test-2{
  left: -12px;
  top: 180px;
  transform: rotate(-25deg);
}
.test-3{
  left: -12px;
  top: 370px;
  transform: rotate(-30deg);
}

/*-----------------Pto 11 GHOST SPIDER- 3 cards-----------------------*/
 
@keyframes rotateAndPerspective {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform:rotate(-10deg);
  }
}
  .test-1:hover,.test-3:hover{
    animation: rotateAndPerspective 1s ease-out forwards;
  }
  .test-1:hover,.test-2:hover,.test-3:hover{
    animation: rotateAndPerspective 1s ease-out forwards;
  }
  /*.test-2 {
    transition: transform 0.5s ease; 
  }
  .test-2:hover {
    transform: scale(1.1); 
  }*/
/*------------------------------------------------------------------------*/

.conteiner-vengadores {
  width: 1080px;
  margin: 0 auto;
  margin-top: 800px;
}
.conteiner-vengadores p{
  width: 667px;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
  color: #ffffff;
}
.parallax2{
  margin-top: 80px;
  width: 1077.06px;
  height: 527.63px;
  position: relative;
}
.parallax2 div{
  position: absolute;
  object-fit: contain;
}
.parallax2-cielo{
  width: 950px;
  height: 510.63px;
  background-image: url(../IMG/image-222-2.png);
  margin-left: 50px;
  margin-top: 0;
  z-index: 0;
  border-top: #000 8px solid ;
}
.parallax2-arboles{
  width: 1080px;
  height: 527.63px;
  background-image: url(../IMG/image-22-7.png);
  background-size: 100% 100%;
  z-index: 2;
}
.parallax2-plantas{
  width: 1080px;
  height: 527.63px;
  background-image: url(../IMG/image-22-4.png);
  background-size: 100% 100%;
  z-index: 4;
}
.parallax2-hulk{
  width: 410.11px;
  height: 437.97px;
  background-image: url(../IMG/untitled-2-2.png);
  background-size: 100% 100%;
  padding: 5px;
  z-index: 3;
  left: 680px;
  top: 87px;
  transform: rotate(10.48deg);
}
.parallax2-mujer{
  width: 451.26px;
  height: 591.44px;
  background-image: url(../IMG/image-22-8.png);
  background-size: 100% 100%;
  z-index: 5;
  left: 128.16px;
  transform: rotate(-12.48deg);
}
.parallax2-personaje{
  width: 366.31px;
  height: 552.46px;
  background-image: url(../IMG/untitled-4-2.png);
  background-size: 100% 100%;
  z-index: 5;
  top: -210px;
  left: 532.05px;
  transform: rotate(13.61deg);
}

/*--------------------Pto 8- Opcional 4---PARALLAX-2----------------------------*/
@keyframes move {
  0%{
      background-position: -2080px;
  }
  100%{
      background-position: 0px;
  }
}

.parallax2-cielo {
  animation: move 40s infinite linear;
  filter: blur(10px);
}

.poligono-mas-amigos{
  margin-top: -130px;
  width: 1280px;
  height: 1900px;
}
/*----------------------Pto 4 mas amigos---------------------------------------------------*/
.conteiner-mas-amigos{
  width: 1080px;
  margin: 0 auto;
  margin-top: -1650px;
}
.mas-amigos h2{
  font-weight: 600px;
  font-size: 60px;
  margin-bottom: 50px;
}
.conteiner {
  width: 1080px;
  height: 1050px;
  display: flex;
  justify-content: space-between;
}
.blog {
  width: 552px;
  height: 1400px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.textos-blog {
  position: relative;
  left: 552px;
  width: 305px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 61px;
  box-sizing: border-box;
  
}
.text {
  width: 100%;
  height: 305px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.text-visible {
  opacity: 1;
}

.imagenes-blog{
  width: 100%;
  height: 305px;
  position: sticky;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.img-visible {
  z-index: 1;
  opacity: 1;
}
#blog-img1{
  background-image: url(../IMG/image-21.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
#blog-img2{
  background-image: url(../IMG/image-9.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
#blog-img3{
  background-image: url(../IMG/image-10.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
#blog-img4{
  background-image: url(../IMG/image-6.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.conteniner h3{
  font-size: 40px;
  line-height: 37.8px;
  width: 467px;
  margin-left: 73px;
  margin-bottom: 20px;
}
.conteniner p{
  width: 467px;
  line-height: 18.9px;
  font-size: 20px;
  margin-left: 73px;
  margin-bottom: 40px;
}
/*-------------------------------------------------------------*/
.conteiner-comprar{
  width: 1080px;
  margin: 0 auto;
  margin-top: 220px;
}
.comprar h2{
  width: 816px;
  color: #ffffff;
  font-size: 60px;
  line-height: 72px;
}
.comprar-iMY2{
  width: 292px;
}
.poligono-trio-spidey{
  width: 1280px;
  height: 719.86px;
}
.container-trio-spidey{
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.trio-spidey{
  height: 600px;
  z-index: 1;
}
.trio-spidey1{
  position: absolute;
  left: 0;
  top: -550px;
}
.trio-spidey2 {
  position: absolute;
  left: 220px;
  top: -550px;
}
.trio-spidey3 {
  position: absolute;
  left: 600px;
  top: -550px;
}
.container-suscripcion{
  width: 816px;
  margin: 0 auto;
  margin-top: -1296px;
}
.container-suscripcion h2{
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
  margin-bottom: 40px;
}
.suscribirse {
  box-shadow: 0.4rem 0.5rem 0 #02187e;
  border-radius: 11.1rem;
  display: flex;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 780px;
}
.suscribirse input{
  background-color: #ffffff;
  text-align: left;
  padding-left: 25px;
  width: 562px;
  height: 84px;
  border-radius: 11.1rem 0 0 11.1rem;
  border: solid 8px #2982ff;
  box-shadow: 0.4rem 0.5rem 0 #02187e;
  border-right: none;
  letter-spacing: 2.3px;
}
.suscribirse button{
  font-family: 'lato-bold', 'Source Sans Pro';
  letter-spacing: 0.22rem;
  font-weight: 900;
  font-size: 20px;
  background-color: #ffe901;
  color: #02187e;
  width: 218px;
  height: 100px;
  border-radius: 0 11.1rem 11.1rem 0;
  border: none;
  border: solid 8px #2982ff ;
  box-shadow: 0.4rem 0.5rem 0 #02187e;
  letter-spacing: 2.3px;
  -webkit-text-stroke: 2px #02187e;
}

.suscripcion p{
  width: 578px;
  font-size: 20px;
  line-height: 18.9px;
  margin-left: 65px;
  margin-top: 40px;
}
.teen{
  margin-top: 30px;
  width: 231px;
  height: 145px;
  margin-left: 55px;
}
.poligono-suscripcion{
  width: 1280px;
  margin-top: -605px;
}
.juegos-footer{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 120px;
  background-color: #242424;
  width: 1280px;
  height: 75px;
}
.juegos-footer img{
  width: 1080px;
  height: 75px;
}
footer{
    background-color: #5E5E5D;
    
}
.footer{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.contenido-footer{
  margin-top: 30px;
  margin-bottom: 70px;
  color: #ffffff;
  
}
.contenido-footer p{
  width: 820px;
  font-size: 20px;
  line-height: 18.9px;
  margin: 20px 0;
}
.subrallado {
  text-decoration: underline;
}
.contenido-footer img{
  width: 212px;
  height: 41px;
}

/*--------------------pto 13-spritesheet------------------------*/
#sprit-sheet{
  transition: all .1s ease-out;
  z-index: 0;
}
.img-sprit {
  position: absolute;
  top: 395px;
  left: 890px;
  width: 130px;
  height: 130px;
  transform: rotate(-20deg);
  background-image: url('../IMG/sprit.png'); 
  background-size: auto 100%;
  transition: background-position 1s steps(11);
}
.img-sprit:hover {
  animation: playAnimation 1s steps(11) infinite;
}

@keyframes playAnimation {
  from { background-position: 0; }
  to { background-position: -1430px; } 
}

/*------------------OPCIONAl 1 pto 1 --loader -----------------------*/
#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}
#loader {
  background: url(../IMG/Telarania.png) no-repeat 0 0; 
  background-size: auto 100%;
  width: 100px;
  height: 100px;
  animation: playSpritesheetTelarania 3s steps(11) infinite; /* 11 frames */
  border-radius: 50%;
}

@keyframes playSpritesheetTelarania {
  from { background-position: 0; }
  to { background-position: -1100px; } 
}
#loading-text {
  color: #fff; 
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
}
.personajes-section {
  height: 740px;
  width: 1280;
  position: relative;
  top: 120px;
  background-image: url('../IMG/untitled-1-5-ByC.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.conteiner-personajes-section{
  width: 1080px;
  margin: 0 auto;
  margin-top: -300px;
}
.image-227-tdp {
  width: 94px; 
  height: 88px; 
}
.image-228-YCa {
  width: 97px;
  height: 89px;
}
.image-239-emQ {
  width: 58px;
  height: 64px;
}


