html {
  font-weight: 400;
  background-color: #000000;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.header-mini{
  position: fixed;
  z-index: 13;
  height: 115px;
  width: 100%;
  background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
}
.container-header{
  width: 1080px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  transition: transform 3s ease;
}
#main-header.mini {
  position: fixed;
  width: 1080px;
  margin: 0 auto;
  z-index: 15;
}

.logo{
  width: 590px;
  height: 301px;
  object-fit: cover;
  margin-top: 91px;
}
.logo-mini {
  margin-top: 20px;
  width: 133px;
  height: 68px;
}
.menu-hamburguesa{
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}
.linea-hamburguesa{
  background-color: #ffe901;
  border-radius: 7px;
  border: #2981ff 4px solid;
  width: 34px;
  height: 4px;
  box-shadow: 4px 5px 0 #02187e;
  margin-top: -1px;
}
.comprar-iMY{
  margin-top: 20px;
  background-color: #ffe901;
  width: 216px;
  height: 66px;
  border-radius: 111px;
  font-size: 19px;
  font-weight: 900;
  border: #2981ff 8px solid;
  box-shadow: 4px 5px 0 #02187e;
  font-family: Lato, 'Source Sans Pro';
  letter-spacing: 0.22rem;
  white-space: nowrap;
  color: #02187e;
}  
.parallax1{
  height: 700px;
}
.poligono-spidey{
  height: 844.5px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.contenedor-spidey{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.grid-spidey{
  margin-top: -720px;
  display: grid;
  grid-template-columns: 586px 494px;
  grid-template-rows: 1fr 1fr;
  z-index: 3;
}
.texto-spidey{
  grid-column: 1;
  color: #FFFFFF;
  margin-top: 130px;
}
.img-grid-1{
  grid-column: 1;
}
.img-grid-2{
  grid-column: 2;
  grid-row: 1 / span 2;
}
.texto-spidey h1{
  font-size: 60px;
  font-weight: 600;
  line-height: 56.7px;
  margin-bottom: 30px;
}
.texto-spidey p{
  font-size: 20px;
  line-height: 24px;
}
.image-16-B9t{
  width: 751.65px;
  height: 413.13px;
  border-radius: 26px;
  transform: rotate(-2.22deg);
  border: #ffffff solid 9px;
  object-fit: cover;
  margin-top: -30px;
  box-shadow: 4px 5px 0 #5E5E5D;

}
.untitled-3-1-dna{
  width: 553px;
  height: 921px;
  transform: scaleX(-1);
  margin-right: 0px;
  margin-top: -300px;  /*belen*/
}
.poligono-trio-imagenes{
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -400px;
  height: 1085px;
}
.contenedor-trio-imagenes{      
  margin-top: -650px;
  position: relative;
  z-index: 2;
}
.trio-imagenes{
  display: flex;
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
.trio-imagen1{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-13.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen2{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-8.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen3{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-24.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagenes p{
  margin-top: 20px;
  width: 333px;
  font-size: 20px;
  line-height: 24px;
}
.ghost{
  position: relative;
  margin-top: 100px;
}
.conteiner-ghost{
  width: 1080px;
  margin: 0 auto;
  position: relative;
  margin-top: -650px;
}
.ghost img{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 566px;
}
.test img{
  width: 546.11px;
  height: 326.51px;
  position: absolute;
}
.test-1{
  left: -12px;
  top: 0px;
  transform: rotate(-10deg);
}
.test-2{
  left: -12px;
  top: 180px;
  transform: rotate(-25deg);
}
.test-3{
  left: -12px;
  top: 370px;
  transform: rotate(-30deg);
}
.conteiner-vengadores {
  width: 1080px;
  margin: 0 auto;
  margin-top: 900px;
}
.conteiner-vengadores p{
  width: 667px;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
  color: #ffffff;
}
.parallax2{
  width: 1077.06px;
  height: 527.63px;
}
.poligono-mas-amigos{
  width: 100%;
  height: 2194.5px;
}
.conteiner-mas-amigos{
  width: 1080px;
  margin: 0 auto;
  margin-top: -2000px;
}
.mas-amigos h2{
  font-weight: 600px;
  font-size: 60px;
}
.blog {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.imagenes-blog div{
  width: 548px;
  height: 305px;
}
.imagenes-blog {
  position: sticky;
   /* width: 50%;*/
  /*  height: 100%;*/
   /* top: 15%;*/
 /*   min-width: 500px; */

}

.img-oculta {
  display: none;
}
.blog-img1{
  background-image: url(../IMG/image-21.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img2{
  background-image: url(../IMG/image-9.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img3{
  background-image: url(../IMG/image-10.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img4{
  background-image: url(../IMG/image-6.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog h3{
  font-size: 40px;
  line-height: 37.8px;
  width: 467px;
  margin-left: 73px;
  margin-bottom: 20px;
}
.blog p{
  width: 467px;
  line-height: 18.9px;
  font-size: 20px;
  margin-left: 73px;
  margin-bottom: 40px;
}
.text-oculto {
  opacity: 0;
}
.conteiner-comprar{
  width: 1080px;
  margin: 0 auto;
  margin-top: 320px;
}
.comprar h2{
  width: 816px;
  color: #ffffff;
  font-size: 60px;
  line-height: 72px;
}
.comprar-iMY2{
  width: 292px;
}
.poligono-trio-spidey{
  width: 100%;
  height: 719.86px;
}
.container-trio-spidey{
  width: 900px;
  margin: 0 auto;
  margin-top: -600px;
  position: relative;
}
.trio-spidey{
  height: 600px;
  z-index: 1;
}
.trio-spidey1{
  position: absolute;
  left: 0;
  top: -550px;
}
.trio-spidey2 {
  position: absolute;
  left: 220px;
  top: -550px;
}
.trio-spidey3 {
  position: absolute;
  left: 600px;
  top: -550px;
}
.suscripcion{
  background-color: #666666;
}
.container-suscripcion{
  width: 816px;
  margin: 0 auto;
  margin-top: -1296px;
}
.container-suscripcion h2{
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
}
.suscribirse {
  box-shadow: 0.4rem 0.5rem 0 #02187e;
  border-radius: 11.1rem;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin: 30px auto;
  width: 780px;
  height: 100px;
  border: solid 8px #2982ff ;
}
.suscribirse input{
  background-color: #ffffff;
  text-align: left;
  padding-left: 25px;
  width: 562px;
  height: 80px;
  border-radius: 11.1rem 0 0 11.1rem;
}
.suscribirse button{
  font-family: Lato, 'Source Sans Pro';
  letter-spacing: 0.22rem;
  font-weight: 900;
  background-color: #ffe901;
  color: #02187e;
  width: 218px;
  height: 80px;
  border-radius: 0 11.1rem 11.1rem 0;
  border: none;
  border-left: solid 0.8rem #2982ff ;
}

.suscripcion p{
  width: 578px;
  font-size: 20px;
  line-height: 18.9px;
  margin-left: 65px;
}
.teen{
  margin-top: 20px;
  width: 231px;
  height: 145px;
  margin-left: 55px;
}
.poligono-suscripcion{
  width: 100%;
  height: 1296px;
}
.juegos-footer{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #242424;
  height: 75px;
}
.juegos-footer img{
  width: 1080px;
  height: 75px;
}
footer{
    background-color: #5E5E5D;
}
.contenido-footer{
  width: 1080px;
  margin: 30px auto;
  height: 598px;
  color: #ffffff;
}
.contenido-footer p{
  width: 820px;
  font-size: 20px;
  line-height: 18.9px;
  margin: 20px 0;
}
.subrallado {
  text-decoration: underline;
}
.contenido-footer img{
  width: 212px;
  height: 41px;
}


/*------------------OPCIONAl1 pto 1 --loader *-----------------------*/
#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; /* Fondo oscuro */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#loader {
 /* border: 16px solid #f3f3f3; /* Light grey */
 /* border-top: 16px solid #3498db; /* Blue */
 /*border-radius: 50%;*/
  background: url('/TPE4/IMG/loader.jpg') no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  border-radius: 50%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loading-text {
  color: #fff; /* Texto blanco */
  font-size: 18px;
  margin-left: 10px;
}

/*-------------------------PTO 9---tres personajes volados-------------*/
.personajes-section {
  height: 720px;
  width: 1280;
  position: relative;
  background-image: url('/TPE4/IMG/untitled-1-5-ByC.png'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Cubre todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.personaje {
  opacity: 0;
  /*transform: translateY(100px);*/
  transition: opacity 1s, transform 2s;
  
}

.conteiner-personajes-section{
  width: 1080px;
  margin: 0 auto;
}
.personaje.visible {
  opacity: 1;
  
}
#pje1{
  position: absolute;
  left: 235px;
  bottom: 0px;
}
#pje2{
  position: absolute;
  left: 553px;
  bottom: 0px;
}
#pje3{
  position: absolute;
  left: 1048px;
  bottom: 0;
}

.image-227-tdp {
  width: 94px; 
  height: 88px; 
}
.image-228-YCa {
  width: 97px;
  height: 89px;
}
.image-239-emQ {
  width: 58px;
  height: 64px;
}
/*-------------------pto 10----BTN-CPMPRAR------*/
.comprar-iMY {
    /* Agrega transición para el cambio de color en 0.3 segundos */
  transition: background-color 0.3s ease;
}

/* Cambio de color en hover */
.comprar-iMY:hover {
  background-color: #e74c3c; /* Nuevo color en hover */
  color: #ffffff; /* Puedes ajustar el color del texto en hover si es necesario */
}
/*-----------------pTO 5------mini-header-----------------------*/

/*----------------------Pto6 duende verde--------------*/
/*------------------Pto 11---------------------------*/
@keyframes rotateAndPerspective {
  0% {
      transform: skew(0deg) rotate(0deg);
  }
  50% {
      transform: skew(5deg) rotate(-5deg);
  }
  100% {
      transform:skew(10deg) rotate(0deg);
  }
}
/* @keyframes rotateAndPerspective {
  0% {
      transform: rotateX(0deg) skew(10deg);
  }
  50% {
      transform: rotateX(10deg) skew(15deg);
  }
  100% {
      transform: rotateX(0deg) skew(20deg);
  }
}*/
/*
.conteiner-ghost:hover .test-1 {
  animation: rotateAndPerspective 1s ease; /* Aplicar la animación al hacer hover 
}

.conteiner-ghost:hover .test-2 {
  animation: rotateAndPerspective 1s ease 0.1s; /* Aplicar la animación con un pequeño retraso 
}

.conteiner-ghost:hover .test-3 {
  animation: rotateAndPerspective 1s ease 0.2s; /* Aplicar la animación con un pequeño retraso 
}
/*
.test img{
  transition: transform 0.5s ease-out;
}*/

/*---------------------------------------------------------------------------*/

/*--------------------------pto 4--------------------------*/
.mas-amigos-mas-diversion {
  display: flex;
}

.imagenes-mas-amigos {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.imagen {
  opacity: 0;
  transition: opacity 0.5s;
}

.imagen.active {
  opacity: 1;
}

/*--------------------pto 13-------------------------*/

#sprit-shee{
  width: 130px;
  height: 160px;
  margin: auto;
  transition: all .1s ease-out;
  position: relative;
  right: -80px;
  z-index: 0;
}
.character {
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url('/TPE4/IMG/spidex6.png'); /* Reemplaza 'spritesheet.png' con tu ruta real */
  animation: playAnimation 1.5s steps(6) infinite; /* Ajusta según sea necesario */
}

@keyframes playAnimation {
  from { background-position: 0; }
  to { background-position: -350px; } /* Ajusta según sea necesario */
}
/*---------------------------------------*/
#container {
  display: flex;
  overflow: hidden;
}

.image {
  width: 100%;
  position: sticky;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.image img {
  width: 100%;
  height: auto;
}

.image.active {
  opacity: 1;
}

/* Ajusta estos estilos según tus necesidades 
#image-container {
  width: 100%;
  height: auto;
  overflow: hidden;s
}\/*-----------------------------------*/