html {
	font-size:20px;
  font-weight: 400;
  background-color: #000000;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
header{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.menu-hamburguesa{
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}
.linea-hamburguesa{
  background-color: #ffe901;
  border-radius: 7px;
  border: #2981ff 4px solid;
  width: 34px;
  height: 4px;
  box-shadow: 4px 5px 0 #02187e;
  margin-top: -1px;
}
.comprar-iMY{
  margin-top: 20px;
  background-color: #ffe901;
  width: 216px;
  height: 66px;
  border-radius: 111px;
  font-size: 19px;
  font-weight: 900;
  border: #2981ff 8px solid;
  box-shadow: 4px 5px 0 #02187e;
  font-family: Lato, 'Source Sans Pro';
  letter-spacing: 0.22rem;
  white-space: nowrap;
  color: #02187e;
}  
.logo{
  width: 590px;
  height: 301px;
  object-fit: cover;
  margin-top: 91px;
}
.parallax1{
  height: 700px;
}
.poligono-spidey{
  height: 844.5px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.contenedor-spidey{
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
.grid-spidey{
  margin-top: -720px;
  display: grid;
  grid-template-columns: 586px 494px;
  grid-template-rows: 1fr 1fr;
  z-index: 3;
}
.texto-spidey{
  grid-column: 1;
  color: #FFFFFF;
  margin-top: 130px;
}
.img-grid-1{
  grid-column: 1;
}
.img-grid-2{
  grid-column: 2;
  grid-row: 1 / span 2;
}
.texto-spidey h1{
  font-size: 60px;
  font-weight: 600;
  line-height: 56.7px;
  margin-bottom: 30px;
}
.texto-spidey p{
  font-size: 20px;
  line-height: 24px;
}
.image-16-B9t{
  width: 751.65px;
  height: 413.13px;
  border-radius: 26px;
  transform: rotate(-2.22deg);
  border: #ffffff solid 9px;
  object-fit: cover;
  margin-top: -30px;
  box-shadow: 4px 5px 0 #5E5E5D;

}
.untitled-3-1-dna{
  width: 553px;
  height: 921px;
  transform: scaleX(-1);
  margin-right: 0px;
}
.poligono-trio-imagenes{
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -400px;
  height: 1085px;
}
.contenedor-trio-imagenes{      
  margin-top: -650px;
  position: relative;
  z-index: 2;
}
.trio-imagenes{
  display: flex;
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
.trio-imagen1{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-13.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen2{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-8.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagen3{
  width: 314.96px;
  height: 284.96px;
  border-radius: 41px;
  border: #2982ff solid 9px;
  background-image: url(../IMG/image-24.png);
  background-size:  274.909% 196.4%;
  background-position: -80px -140px;
  box-shadow: 4px 5px 0 #02187e;
}
.trio-imagenes p{
  margin-top: 20px;
  width: 333px;
  font-size: 20px;
  line-height: 24px;
}
.ghost{
  position: relative;
  margin-top: 100px;
}
.conteiner-ghost{
  width: 1080px;
  margin: 0 auto;
  position: relative;
  margin-top: -650px;
}
.ghost img{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 566px;
}
.test img{
  width: 546.11px;
  height: 326.51px;
  position: absolute;
}
.test-1{
  left: -12px;
  top: 0px;
  transform: rotate(-10deg);
}
.test-2{
  left: -12px;
  top: 180px;
  transform: rotate(-25deg);
}
.test-3{
  left: -12px;
  top: 370px;
  transform: rotate(-30deg);
}
.conteiner-vengadores {
  width: 1080px;
  margin: 0 auto;
  margin-top: 900px;
}
.conteiner-vengadores p{
  width: 667px;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
  color: #ffffff;
}
.parallax2{
  width: 1077.06px;
  height: 527.63px;
}
.poligono-mas-amigos{
  width: 100%;
  height: 2194.5px;
}
.conteiner-mas-amigos{
  width: 1080px;
  margin: 0 auto;
  margin-top: -2000px;
}
.mas-amigos h2{
  font-weight: 600px;
  font-size: 60px;
}
.blog {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog div{
  width: 548px;
  height: 305px;
}
.blog-img1{
  background-image: url(../IMG/image-21.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img2{
  background-image: url(../IMG/image-9.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img3{
  background-image: url(../IMG/image-10.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog-img4{
  background-image: url(../IMG/image-6.png);
  background-size:  100% 118.313%;
  background-position: -0px -31px;
}
.blog h3{
  font-size: 40px;
  line-height: 37.8px;
  width: 467px;
  margin-left: 73px;
  margin-bottom: 20px;
}
.blog p{
  width: 467px;
  line-height: 18.9px;
  font-size: 20px;
  margin-left: 73px;
}
.conteiner-comprar{
  width: 1080px;
  margin: 0 auto;
  margin-top: 320px;
}
.comprar h2{
  width: 816px;
  color: #ffffff;
  font-size: 60px;
  line-height: 72px;
}
.comprar-iMY2{
  width: 292px;
}
.poligono-trio-spidey{
  width: 100%;
  height: 719.86px;
}
.container-trio-spidey{
  width: 900px;
  margin: 0 auto;
  margin-top: -600px;
  position: relative;
}
.trio-spidey{
  height: 600px;
  z-index: 1;
}
.trio-spidey1{
  position: absolute;
  left: 0;
  top: -550px;
}
.trio-spidey2 {
  position: absolute;
  left: 220px;
  top: -550px;
}
.trio-spidey3 {
  position: absolute;
  left: 600px;
  top: -550px;
}
.suscripcion{
  background-color: #666666;
}
.container-suscripcion{
  width: 816px;
  margin: 0 auto;
}
.container-suscripcion h2{
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
}
.suscribirse {
  box-shadow: 0.4rem 0.5rem 0 #02187e;
  border-radius: 11.1rem;
  align-items: center;
  border: solid 0.8rem #2982ff;
  display: flex;
  box-sizing: border-box;
  margin: 30px auto;
  width: 780px;
  height: 100px;
}
.suscribirse input{
  background-color: #ffffff;
  text-align: left;
  padding-left: 25px;
  width: 562px;
  height: 80px;
  border-radius: 11.1rem 0 0 11.1rem;
}
.suscribirse button{
  font-family: Lato, 'Source Sans Pro';
  letter-spacing: 0.22rem;
  font-weight: 900;
  background-color: #ffe901;
  color: #02187e;
  width: 218px;
  height: 80px;
  border-radius: 0 11.1rem 11.1rem 0;
  border: none;
  border-left: solid 0.8rem #2982ff ;
}
.suscripcion p{
  width: 578px;
  font-size: 20px;
  line-height: 18.9px;
  margin-left: 65px;
}
.suscripcion img{
  margin-top: 20px;
  width: 231px;
  height: 145px;
  margin-left: 55px;
}
.juegos-footer{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #242424;
  height: 75px;
}
.juegos-footer img{
  width: 1080px;
  height: 75px;
}
footer{
    background-color: #5E5E5D;
}
.contenido-footer{
  width: 1080px;
  margin: 30px auto;
  height: 598px;
  color: #ffffff;
}
.contenido-footer p{
  width: 820px;
  font-size: 20px;
  line-height: 18.9px;
  margin: 20px 0;
}
.subrallado {
  text-decoration: underline;
}
.contenido-footer img{
  width: 212px;
  height: 41px;
}